div.banner{
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #D0D0D0;
	border-bottom: 1px solid #3399FF;
	font-family: "Avenir", sans-serif;
	font-size: 16px;
}

#antibanner{
	width:100%;
	height:25px;
}

#header{
	position: fixed;
	width:100%
}

div.right{
	float: right;
	margin-right:10px;
}

#loginbanner{
	margin-top: 5px;
}

input{
	margin: 5px;
}


a.banner:link{
	color: white;
}

a.banner:visited{
	color: red;
}

a.banner:active{
	color:purple;
}

a.banner:hover{
	color:green;
}