#faq{
    color: #FFFFFF;
    background-color: #00CCFF;
    font-family: "Avenir", sans-serif;
    font-size: 16px;
    text-align: left;
	border: 2px solid #3399FF;
	border-radius: 25px;
	padding: 10px 10px 10px 10px;
}