/*
This file contains the styling for login.html.
*/

body {
	font-family: "Avenir", sans-serif;
    font-size: 16px;
}

#mainlogininfo {
	color: #FFFFFF;
    background-color: #00CCFF;
    font-family: "Avenir", sans-serif;
    font-size: 16px;
    text-align: center;
	border: 2px solid #3399FF;
	border-radius: 25px;
}
