/* CSS for the restaurant info */
body {
	background-color:#eeeeee;
}

.jumbotron {
	background-color:lightblue;
	text-align:center;
}

#results{
	/* image credits: https://www.helpgoabroad.com/blog/decoding-dim-sum/ */
   /* background-image: url("dim-sum.jpg");*/
	color: #FFFFFF;
    background-color: #00CCFF;
    font-family: "Avenir", sans-serif;
    font-size: 16px;
    text-align: left;
	border: 2px solid #3399FF;
	border-radius: 25px;
	padding: 10px 10px 10px 10px;
}

#wrapText {
	float: left;
	margin: 10px;
	width:304px;
	height:228px;
}

#reviewStyle {
	border: 2px solid lightblue;
	border-radius: 25px;
	padding: 10px 10px 10px 10px;
}

#individReviews {
	border: 2px solid lightblue;
	border-radius: 25px;
	padding: 10px 10px 10px 10px;
}

.col-sm-5{
	margin: 10px;
	border: 2px solid lightblue;
}

.button {
	margin-right: 20px;
}


