/*
This file contains the styling for searchresults.html.
*/

body{
    font-family: "Avenir", sans-serif;
    
}

#searchoptions{
	position: fixed;
	margin: 0px;
	margin-top: 10px;
	background-color: #99FFCC;
	width: 160px;
	height: 100%;
	color: blue;
	padding: 10px 10px 10px 10px;
	border: 2px solid #3399FF;
	border-radius: 25px;
	margin-top: 20px;
}

input.costoptions{
	width: 50px;
	margin: 0px;
	margin-right: 10px;
	float: right;
}

div.costdiv{
	height: 30px;
	margin: 5px;
	width: 160px;
}

div.costright{
	float: right;
	margin-right: 0px;
}

h1{
	margin:0px;
}

#results {
	margin-left: 150px;
	padding: 10px 10px 10px 10px;
	border: 2px solid #3399FF;
	border-radius: 25px;
	margin-top: 20px;
	margin: 20px;
	margin-left: 200px
}

#yumyum {
	margin-top: 10px;
	padding: 10px 10px 10px 10px;
	border: 2px solid #3399FF;
	border-radius: 25px;
	background-color: #99FFCC;
}

#yumyum img {
	width:100px;
	height:100px;
}

#bestpizza {
	margin-top: 10px;
	padding: 10px 10px 10px 10px;
	border: 2px solid #3399FF;
	border-radius: 25px;
	background-color: #99FFCC;
}

#bestpizza img {
	width:100px;
	height:100px;
}